:root{
    --primary:   #00040f;
    --secondary: #00f6ff;
    --dimWhite:  rgba(255, 255, 255, 0.7);
    --dimBlue:   rgba(9, 151, 124, 0.1);
}
h1{
    font-size: 54px;
    letter-spacing: 0.01em;
    line-height: 140%;
    font-weight: 600;

}
h1 span{
    background: radial-gradient(64.18% 64.18% at 71.16% 35.69%, #DEF9FA 0.89%, #BEF3F5 17.23%, #9DEDF0 42.04%, #7DE7EB 55.12%, #5CE1E6 71.54%, #33BBCF 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}
h2{
    font-size: 48px;
    font-weight: bold;
}
h3{
    font-size: 40px;
    font-weight: bold;
}
p{
    letter-spacing: 0.01em;
    color: rgba(255, 255, 255, 0.7);
    font-size: 18px;  
}
.lead {
    text-transform: uppercase;
    background: radial-gradient(64.18% 64.18% at 71.16% 35.69%, #DEF9FA 0.89%, #BEF3F5 17.23%, #9DEDF0 42.04%, #7DE7EB 55.12%, #5CE1E6 71.54%, #33BBCF 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}
.btn{
    background: linear-gradient(157.81deg, #DEF9FA -43.27%, #BEF3F5 -21.24%, #9DEDF0 12.19%, #7DE7EB 29.82%, #5CE1E6 51.94%, #33BBCF 90.29%);
    border-radius: 10px;
    padding: 15px 30px;
    cursor: pointer;
}
.gradient{
    background: linear-gradient(153.47deg, rgba(255, 255, 255, 0) -341.94%, rgb(20, 16, 29) 95.11%);
}
.cards .card{
    background: linear-gradient(153.47deg, rgba(255, 255, 255, 0) -341.94%, rgb(20, 16, 29) 95.11%);
}